port = 3000

[tls_settings]
cert_path = ""
key_path = ""

[cdn_settings]
enabled = true
content_dir = "content/cdn"

[drm_settings]
enabled = true
content_dir = "content/drm"
forbidden_file = ""
allowed_extensions = [
    "txt",
]
tokens = [
    "test-token",
]